<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!-- XML = type(클래스 선언) -->
		<typeAlias type="com.sist.news.dao.NewsVO" alias="NewsVO" />
		<typeAlias type="com.sist.news.dao.NewsReplyVO" alias="NewsReplyVO"/>
		<typeAlias type="com.sist.match.dao.MatchVO" alias="MatchVO"/>
		<typeAlias type="com.sist.match.dao.TeamVO" alias="TeamVO"/>
		<typeAlias type="com.sist.match.dao.PlayerVO" alias="PlayerVO"/>
		<typeAlias type="com.sist.event.dao.EventVO" alias="EventVO"/>
		<typeAlias type="com.sist.gallery.dao.GalleryVO" alias="GalleryVO"/>
		
	</typeAliases> 
	<!-- "(environment)+" -->
	<environments default="development">
		<!-- (transactionManager,dataSource) -->
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@211.238.142.222:1521:ORCL" />
				<property name="username" value="scott" />
				<property name="password" value="tiger" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- PreparedStatement,ResultSet -->
		<mapper resource="com/sist/news/dao/news-mapper.xml" />
		<mapper resource="com/sist/match/dao/Match-mapper.xml"/>
    	<mapper resource="com/sist/event/dao/event-mapper.xml"/>
    	<mapper resource="com/sist/member/dao/member_mapper.xml"/>
  		<mapper resource="com/sist/gallery/dao/gallery-mapper.xml"/>
	</mappers>
</configuration>





