<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sist.member.dao.member_mapper">
	<!-- 아이디 체크 SQL -->
	<select id="memberIdCheck" resultType="int"
	parameterType="String">
	 SELECT COUNT(*)
	 FROM GGGL_member
	 WHERE member_nickname=#{memberIdCheck}
	</select>
	<!-- 이메일 체크 SQL -->
	<select id="memberEmailCheck" resultType="int"
	parameterType="String">
	 SELECT COUNT(*)
	 FROM GGGL_member
	 WHERE member_id=#{memberEmailCheck}
	</select>
	
	<select id="memberEmailCount" parameterType="String" resultType="int">
	SELECT COUNT(*) FROM GGGL_member
	WHERE member_id=#{email}
	</select>
	
	<select id="memberGetPassword" parameterType="String" resultType="com.sist.member.dao.MemberVO">
	SELECT member_pwd,member_nickname,member_grade FROM GGGL_member
	WHERE member_id=#{email}
	</select>
</mapper>

