<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- PreparedStatement, ResultSet -->
<mapper namespace="com.sist.event.dao.event-mapper">
	<!-- 이벤트 목록 -->
	<select id="eventListData" resultType="EventVO" parameterType="java.util.Map">
		SELECT
		event_no,event_category,event_image,event_title,event_day,event_place,event_id,event_hit,num
		FROM (SELECT
		event_no,event_category,event_image,event_title,event_day,event_place,event_id,event_hit,rownum
		as num
		FROM (SELECT
		event_no,event_category,event_image,event_title,event_day,event_place,event_id,event_hit
		FROM gggl_event ORDER BY event_no DESC))
		WHERE num BETWEEN #{start} AND
		#{end}
		<!-- map.get("start") => map.put("start",1) map.get("end") => map.put("end",10) -->
	</select>
	
	<!-- Content(내용보기) -->
	<select id="eventContentData" resultType="EventVO"
		parameterType="int">
		SELECT
		event_no,event_category,event_image,event_title,event_content,event_day,event_place,event_id,event_city,event_hit <!-- 
			미수정부분 //승구 -->
		FROM gggl_event
		WHERE event_no = #{event_no}
	</select>
	
	<!--조회수 증가  -->
	<update id="eventHitIncrement" parameterType="int">
		UPDATE gggl_event
		SET
		event_hit = event_hit + 1
		WHERE event_no = #{event_no}
	</update>

	<!--메인 이벤트 추천 -->
	<select id="recommandEventList" resultType="EventVO">
		SELECT * from (select
		event_no,event_title,event_image from gggl_event order by event_hit desc) where
		rownum &lt;=4
	</select>
	
	<!-- 총페이지 -->
   <select id="eventTotalPage" resultType="int">
     SELECT CEIL(COUNT(*)/10) FROM gggl_event
   </select>
   
   <!-- 글쓰기 -->
  <insert id="eventInsert" parameterType="EventVO">
      <!-- 자동 증가번호(sequence)에 사용, BEFORE: 먼저 사용(insert보다 먼저 사용됨) -->
      <selectKey keyProperty="event_no" resultType="int" order="BEFORE">
         SELECT NVL(MAX(event_no)+1, 1) as event_no FROM gggl_event 
      </selectKey>
      INSERT INTO gggl_event VALUES(
         #{event_no}, #{event_title}, #{event_id}, #{event_content}, #{event_day}, SYSDATE, #{event_place}, #{event_category}, #{event_city}, 0, #{event_image}
      )
   </insert>
   
   <!--글 수정  -->
   <update id="eventModifytest" parameterType="EventVO">
   UPDATE gggl_event
   SET
   event_title = #{event_title}, event_content = #{event_content}
   WHERE event_no = #{event_no}
   </update>
   <update id="eventModify" parameterType="EventVO">
   UPDATE gggl_event
   SET
   event_title = #{event_title}, event_content = #{event_content}, event_day = #{event_day}, event_place = #{event_place}, event_category = #{event_category}, 
   event_city = #{event_city} 
   <if test ="event_image!=null">
   , event_image = #{event_image}
   </if>
   WHERE event_no = #{event_no}
   </update>
   
   	<!--글 삭제  -->
	<delete id="eventDelete" parameterType="int">
		DELETE FROM gggl_event WHERE event_no=#{no}
	</delete>
 </mapper>
