<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sist.gallery.dao.gallery-mapper">
	<select id="galleryListAll" resultType="GalleryVO"
		parameterType="java.util.Map">
		SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img,num
		FROM (SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img,rownum
		as num
		FROM (SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img
		FROM gggl_gallery ORDER BY gallery_title ASC ))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="galleryListTop" resultType="GalleryVO" parameterType="java.util.Map">
		SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img,num
		FROM (SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img,rownum
		as num
		FROM (SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img
		FROM gggl_gallery 
		WHERE gallery_category='TOP' 
		ORDER BY gallery_title ASC ))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="galleryListMid" resultType="GalleryVO" parameterType="java.util.Map">
		SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img,num
		FROM (SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img,rownum
		as num
		FROM (SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img
		FROM gggl_gallery 
		WHERE gallery_category='MID'
		ORDER BY gallery_title ASC ))
		WHERE num BETWEEN #{start} AND #{end}
		
	</select>
	<select id="galleryListJungle" resultType="GalleryVO" parameterType="java.util.Map">
		SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img,num
		FROM (SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img,rownum
		as num
		FROM (SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img
		FROM gggl_gallery 
		WHERE gallery_category='JUNGLE'
		ORDER BY gallery_title ASC ))
		WHERE num BETWEEN #{start} AND #{end}
		
	</select>
	<select id="galleryListBottom" resultType="GalleryVO" parameterType="java.util.Map">
		SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img,num
		FROM (SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img,rownum
		as num
		FROM (SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img
		FROM gggl_gallery 
		WHERE gallery_category='BOTTOM'
		ORDER BY gallery_title ASC ))
		WHERE num BETWEEN #{start} AND #{end}
		
	</select>
	<select id="galleryListSupport" resultType="GalleryVO" parameterType="java.util.Map">
		SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img,num
		FROM (SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img,rownum
		as num
		FROM (SELECT
		gallery_no,gallery_title,gallery_content,gallery_regdate,gallery_category,gallery_path,gallery_img
		FROM gggl_gallery 
		WHERE gallery_category='SUPPORT'
		ORDER BY gallery_title ASC ))
		WHERE num BETWEEN #{start} AND #{end}
		
	</select>
	<!-- 총페이지 -->
	<select id="galleryTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/12)
		FROM gggl_gallery
	</select>
</mapper>









