<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sist.match.dao.Match-mapper">
	<resultMap type="MatchVO" id="MatchList">
		<result property="match_no" column="match_no"/>
		<result property="match_day" column="match_day"/>
		<result property="match_time" column="match_time"/>
		<result property="match_league" column="match_league"/>
		<result property="match_name" column="match_name"/>
		<result property="home_name" column="home_name"/>
		<result property="home_score" column="home_score"/>
		<result property="away_name" column="away_name"/>
		<result property="away_score" column="away_score"/>
		<result property="match_videokey" column="match_videokey"/>
		<result property="away_icon" column="team_icon"/>
		<association property="pvo" javaType="com.sist.match.dao.PlayerVO">
			<result property="player_no" column="player_no"/>
			<result property="player_team" column="player_team"/>
			<result property="player_name" column="player_name"/>
			<result property="player_pic" column="player_pic"/>
		</association>
		<association property="tvo" javaType="com.sist.match.dao.TeamVO">
			<result property="team_name" column="team_name"/>
			<result property="team_icon" column="team_icon"/>
			<result property="team_league" column="team_league"/>
		</association>
	</resultMap>
	<select id="matchList_3h" resultMap="MatchList" >
		SELECT match_no,TO_CHAR(match_day,'MM.DD(DY)') as match_day,match_time,match_league,match_name,team_icon,home_name,home_score,away_name,away_score,match_videokey
		FROM gggl_match,gggl_team
        WHERE gggl_match.home_name = gggl_team.team_name
		AND match_day BETWEEN TRUNC(SYSDATE-3) AND TRUNC(SYSDATE-3)
		ORDER BY match_no
	</select>
	<select id="matchList_3a" resultMap="MatchList" >
		SELECT match_no,TO_CHAR(match_day,'MM.DD(DY)') as match_day,match_time,match_league,match_name,team_icon,home_name,home_score,away_name,away_score,match_videokey
		FROM gggl_match,gggl_team
        WHERE gggl_match.away_name = gggl_team.team_name
		AND match_day BETWEEN TRUNC(SYSDATE-3) AND TRUNC(SYSDATE-3)
		ORDER BY match_no
	</select>
	<select id="matchList_2h" resultMap="MatchList"	>
		SELECT match_no,TO_CHAR(match_day,'MM.DD(DY)') as match_day,match_time,match_league,match_name,team_icon,home_name,home_score,away_name,away_score,match_videokey
		FROM gggl_match,gggl_team
        WHERE gggl_match.home_name = gggl_team.team_name
		AND match_day BETWEEN TRUNC(SYSDATE-2) AND TRUNC(SYSDATE-2)
		ORDER BY match_no
	</select>
	<select id="matchList_2a" resultMap="MatchList" >
		SELECT match_no,TO_CHAR(match_day,'MM.DD(DY)') as match_day,match_time,match_league,match_name,team_icon,home_name,home_score,away_name,away_score,match_videokey
		FROM gggl_match,gggl_team
        WHERE gggl_match.away_name = gggl_team.team_name
		AND match_day BETWEEN TRUNC(SYSDATE-2) AND TRUNC(SYSDATE-2)
		ORDER BY match_no
	</select>
	<select id="matchList_1h" resultMap="MatchList">
		SELECT match_no,TO_CHAR(match_day,'MM.DD(DY)') as match_day,match_time,match_league,match_name,team_icon,home_name,home_score,away_name,away_score,match_videokey
		FROM gggl_match,gggl_team
        WHERE gggl_match.home_name = gggl_team.team_name
		AND match_day BETWEEN TRUNC(SYSDATE-1) AND TRUNC(SYSDATE-1)
		ORDER BY match_no
	</select>
	<select id="matchList_1a" resultMap="MatchList" >
		SELECT match_no,TO_CHAR(match_day,'MM.DD(DY)') as match_day,match_time,match_league,match_name,team_icon,home_name,home_score,away_name,away_score,match_videokey
		FROM gggl_match,gggl_team
        WHERE gggl_match.away_name = gggl_team.team_name
		AND match_day BETWEEN TRUNC(SYSDATE-1) AND TRUNC(SYSDATE-1)
		ORDER BY match_no
	</select>
	<select id="matchList_h" resultMap="MatchList">
		SELECT match_no,TO_CHAR(match_day,'MM.DD(DY)') as match_day,match_time,match_league,match_name,team_icon,home_name,home_score,away_name,away_score,match_videokey
		FROM gggl_match,gggl_team
        WHERE gggl_match.home_name = gggl_team.team_name
		AND match_day BETWEEN TRUNC(SYSDATE) AND TRUNC(SYSDATE)
		ORDER BY match_no
	</select>
	<select id="matchList_a" resultMap="MatchList" >
		SELECT match_no,TO_CHAR(match_day,'MM.DD(DY)') as match_day,match_time,match_league,match_name,team_icon,home_name,home_score,away_name,away_score,match_videokey
		FROM gggl_match,gggl_team
        WHERE gggl_match.away_name = gggl_team.team_name
		AND match_day BETWEEN TRUNC(SYSDATE) AND TRUNC(SYSDATE)
		ORDER BY match_no
	</select>
	<select id="matchList__1h" resultMap="MatchList">
		SELECT match_no,TO_CHAR(match_day,'MM.DD(DY)') as match_day,match_time,match_league,match_name,team_icon,home_name,home_score,away_name,away_score,match_videokey
		FROM gggl_match,gggl_team
        WHERE gggl_match.home_name = gggl_team.team_name
		AND match_day BETWEEN TRUNC(SYSDATE+1) AND TRUNC(SYSDATE+1)
		ORDER BY match_no
	</select>
	<select id="matchList__1a" resultMap="MatchList" >
		SELECT match_no,TO_CHAR(match_day,'MM.DD(DY)') as match_day,match_time,match_league,match_name,team_icon,home_name,home_score,away_name,away_score,match_videokey
		FROM gggl_match,gggl_team
        WHERE gggl_match.away_name = gggl_team.team_name
		AND match_day BETWEEN TRUNC(SYSDATE+1) AND TRUNC(SYSDATE+1)
		ORDER BY match_no
	</select>
	<select id="matchList__2h" resultMap="MatchList">
		SELECT match_no,TO_CHAR(match_day,'MM.DD(DY)') as match_day,match_time,match_league,match_name,team_icon,home_name,home_score,away_name,away_score,match_videokey
		FROM gggl_match,gggl_team
        WHERE gggl_match.home_name = gggl_team.team_name
		AND match_day BETWEEN TRUNC(SYSDATE+2) AND TRUNC(SYSDATE+2)
		ORDER BY match_no
	</select>
	<select id="matchList__2a" resultMap="MatchList" >
		SELECT match_no,TO_CHAR(match_day,'MM.DD(DY)') as match_day,match_time,match_league,match_name,team_icon,home_name,home_score,away_name,away_score,match_videokey
		FROM gggl_match,gggl_team
        WHERE gggl_match.away_name = gggl_team.team_name
		AND match_day BETWEEN TRUNC(SYSDATE+2) AND TRUNC(SYSDATE+2)
		ORDER BY match_no
	</select>
	<select id="matchList__3h" resultMap="MatchList">
		SELECT match_no,TO_CHAR(match_day,'MM.DD(DY)') as match_day,match_time,match_league,match_name,team_icon,home_name,home_score,away_name,away_score,match_videokey
		FROM gggl_match,gggl_team
        WHERE gggl_match.home_name = gggl_team.team_name
		AND match_day BETWEEN TRUNC(SYSDATE+3) AND TRUNC(SYSDATE+3)
		ORDER BY match_no
	</select>
	<select id="matchList__3a" resultMap="MatchList" >
		SELECT match_no,TO_CHAR(match_day,'MM.DD(DY)') as match_day,match_time,match_league,match_name,team_icon,home_name,home_score,away_name,away_score,match_videokey
		FROM gggl_match,gggl_team
        WHERE gggl_match.away_name = gggl_team.team_name
		AND match_day BETWEEN TRUNC(SYSDATE+3) AND TRUNC(SYSDATE+3)
		ORDER BY match_no
	</select>
	
	
	
	
	<!-- 상세보기 -->
	<!-- <select id="match_detail_h" resultMap="MatchVO" parameterType="int">
		SELECT match_no, t.team_name, TO_CHAR(match_day,'MM.DD'), m.match_time, m.match_league, m.match_name, m.home_name, m.home_score, m.away_name, m.away_score, m.match_videokey, t.team_icon, p.player_name, p.player_pic
		FROM gggl_match m
		JOIN gggl_team t
		ON t.team_name = m.home_name 
        OR t.team_name = m.away_name 
		JOIN gggl_player p
		ON t.team_name = p.player_team
		WHERE match_no = #{match_no}
        ORDER BY team_name DESC
	</select>
	<select id="match_detail_a" resultMap="MatchVO" parameterType="int">
		SELECT match_no, TO_CHAR(match_day,'MM.DD'), m.match_time, m.match_league, m.match_name, m.home_name, m.home_score, m.away_name, m.away_score, m.match_videokey, t.team_icon, p.player_name, p.player_pic
		FROM gggl_match m
		JOIN gggl_team t
		ON t.team_name = m.away_name
		JOIN gggl_player p
		ON t.team_name = p.player_team
		WHERE match_no = #{match_no}
	</select> -->
	
	
</mapper>
