<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sist.match.dao.Match-mapper">
	<select id="matchList" resultType="MatchVO" parameterType="String">
		SELECT match_no,TO_CHAR(match_day,'MM.DD(DY)'),match_league,match_name,home_name,home_score,away_name,away_score,match_videokey,num
		FROM (SELECT match_no,match_day,match_league,match_name,home_name,home_score,away_name,away_score,match_videokey,rownum as num 
		FROM (SELECT match_no,match_day,match_league,match_name,home_name,home_score,away_name,away_score,match_videokey 
		FROM gggl_match ORDER BY match_no ASC ))
		WHERE TO_CHAR(match_day,'MM.DD(DY)')=#{match_day}
	</select>
	<select id="TeamImageData" resultType="TeamVO" parameterType="String">
		SELECT team_name,team_icon,team_league,num
		FROM (SELECT team_name,team_icon,team_league,rownum as num 
		FROM (SELECT team_name,team_icon,team_league 
		FROM gggl_team))
		WHERE team_name=#{team_name}
	</select>
	<!-- <select id="movieTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/12) FROM movie
	</select>
	상세보기
	<select id="movieDetailData" resultType="movieVO" parameterType="int">
		SELECT mno,title,poster,director,actor,genre,grade,regdate,time,story
		FROM movie
		WHERE mno=#{mno}
	</select>
	<select id="movieAllTitle" resultType="String">
		SELECT title FROM movie
		WHERE LENGTH(title)>=2
	</select>
	<select id="movieGetPoster" resultType="String" parameterType="String">
		SELECT poster FROM movie
		WHERE title=#{title}
	</select> -->
</mapper>
