center{
	margin-top:150px;
	margin-bottom:150px;
}
#table_content{
	border-collapse: collapse;
}
#table_content th {
  color: #168;
  border-bottom: 3px solid #168;
  text-align: left;
}
#table_content td {
  color: #000000;
  border-bottom: 1px solid #ddd;
}
#table_content tr:hover td {
  color: #ff0000;
}