body {
	background-image: url('../image/lol_back1.jpg');
	background-attachment: fixed;
	color: #dedee0;
	margin-top: 70px;
}
.content_board {
	background-color: rgba(20, 20, 20, 0.7);
}
.comment {
	background-color: rgba(20, 20, 20, 0.7);
}

/* .comment_list, .comment_nav_tabs, .active2 {
	background-color: rgba(0,0,0,0.8);
	
} */

.table th {
	background-color: rgba(20, 20, 20, 0.7);
	
}
.input {
	background-color: rgba(0,0,0,0.1);
}

.event-img {
	border: 1px solid black;
}


h2 {
	padding-top: 40px;
	padding-bottom: 20px;
	text-align : center;
	color: white;
}

.text-link td>a {
	color: black;
	text-decoration: none
}

.event-img {
	border: 1px solid black;
}

.category {
	color:black;
}

.input {
	background-color: rgba(0,0,0,0.5);
	color:white;
}

.contentImage {
	padding-top: 10px;
}

.container-fluid-event {
	margin-top: 50px;
	border: 1px solid #dedee0;
	padding: 10px 0;
}

.com_2 {
	margin: 10px 0;
} 

.contentText {
	line-height: 1.64;
	overflow: hidden;
	width:650px;
	display:inline;
}

.b-writer {
	text-align:right;
}
hr {
	height: 1px;
	color: #dedee0;
	background-color: #dedee0;
	border: none
}

.contentText {
	padding: 10px;
}

.comment_form {
	border-bottom: 1px solid #dedee0;
	margin-bottom: 20px;
	padding : 0 10px 20px 10px;
}

.writer_img {
	float: left;
	margin: 0px 25px 0 10px;
}

/* Ãß°¡ */
ul.comment_nav_tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 60px;
	opacity: 1;
	width: 80%;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 50px;
}

ul.comment_nav_tabs li {
	float: inherit;
	text-align: center;
	cursor: pointer;
	width: 19%;
	height: 60px;
	border: 1px solid white;
	margin: 0 5.7px 0px 5.7px;
	color: white;
	line-height: 60px;
	font-weight: bold;
	overflow: hidden;
	position: relative;
}

ul.comment_nav_tabs li img {
	height: 42px;
	margin-right: 20px;
}

ul.comment_nav_tabs li.active2 {
	border: 1px solid white;
	color: black;
	background-color: white;
	opacity: 0.9;
}

