.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: rgba(0,0,0,0.9);
	vertical-align: middle;
}

.table tbody tr td, tbody tr th{
vertical-align: middle !important;
}

h2 {
	padding-top: 40px;
	padding-bottom: 20px;
	text-align : center;
	color: white;
	font-size: 40px;
}

body {
	background-image: url('../image/backimgg_8.jpg');
	background-attachment: fixed;
	background-size: 2000px 1200px;
	margin-top: 70px;
	color:white;
}

.bodybody {
	background-color: rgba(30,30,30, 0.6);
}

input {
	color:black;	
}

.table {
	 background-color: rgba(0,0,0,0.3);
}

.text-link td>a {
	color:white;
	text-decoration:none;
}

.container {
	padding : 80px 0px 0px 0px;

}

.eventhello {
	margin-bottom: 80px;
}

.pagination-centered {
	display: inline-block;
	margin: 20px 0 0 0 !important;
}
.btn-sub {
	margin: 20px;	
}