body {
	background-image: url('../image/lol_back1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #dedee0;
	margin-top: 70px;
}

ul.comment_nav_tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 60px;
	opacity: 1;
	width: 80%;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 50px;
}

ul.comment_nav_tabs li {
	float: inherit;
	text-align: center;
	cursor: pointer;
	
	width: 19%;
	height: 60px;
	border: 1px solid white;
	margin: 0 5.7px 0px 5.7px;
	color: white;
	line-height: 60px;
	font-weight: bold;
	overflow: hidden;
	position: relative;
}

ul.comment_nav_tabs li img {
	height: 42px;
	margin-right: 20px;
}

ul.comment_nav_tabs li.active2 {
	border: 1px solid white;
	color: black;
	background-color: white;
	opacity: 0.9;
}

.comment_tab_content {
	height: auto;
	display: none;
}

.a_player1name {
	margin-left: 0px !important;
}

.container {
	background-color: rgba(20, 20, 20, 0.7);
	/* margin-top: 50px;
	margin-bottom: 20px; */
}

.container-fluid-game {
	margin-top: 50px;
	border: 1px solid #dedee0;
	padding: 10px 0;
}

.com_2 {
	margin: 10px 0;
} 

hr {
	margin: 10px;
	height: 1px;
	color: #dedee0;
	background-color: #dedee0;
	border: none
}

h1 {
	padding-top: 80px;
	padding-bottom: 20px;
	text-align : center;
	color: white;
	font-size: 80px;
}

.team_vs {
	padding: 30px 0 20px 0;
}

.player_vs {
	margin-bottom: 30px;
	padding: 30px 15px 20px 15px;
} 

.h_teamName, .a_teamName {
	font-size: 24px;
}

.comment_form {
	border-bottom: 1px solid #dedee0;
	margin-bottom: 20px;
	padding : 0 10px 20px 10px;
}

.writer_img {
	float: left;
	margin: 0px 25px 0 10px;
}

.comment_content .writer_info .w_nickName {
	color: #3d9eed
}

.h_player1name {
	height: 130px;
}

.p_img {
	margin: 10px 0 10px 0;
}

.player1name {
	width: 100px;
	height: 50px;
	margin-top: 80px;
	font-size: 25px;
}

.a_player1name {
	width: 100px;
	height: 50px;
	margin-top: 50px;
	margin-left: 70px;
}

.hi {
	margin: 30px 0px;
}

.hi2 {
	margin-right: 10px;
}
